{{template "header" .}}
<div class="jumbotron">
  <div class="container">
    <h1>今日は大安売りの日です！</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ .Contents }}
  </div>
</div>
{{ template "footer" .}}
