{{ template "header" .}}
<div class="jumbotron">
  <div class="container">
    <h2>{{ .User.Name }} さんの購入履歴</h2>
    <h4>合計金額: {{ .TotalPay }}円</h4>
  </div>
</div>
<div class="container">
  <div class="row">
  {{ .Contents }}
  </div>
</div>
{{ template "footer"}}
